body {
  margin: auto;
  padding: 0;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(./img/bg1.jpg);
  background-size: cover;
  height: 100vh;
}

code {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}

