html,
/* Adding the sticky nevigation bar*/
.icon-bar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 3;
    list-style-type: none;
}
.icon-bar a {
    float: left;
    display: block;
    text-align: center;
    padding: 12.5px 10px 12.5px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.icon-bar a:hover {
    background-color: #000;
    text-decoration: underline;
}
