<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/upload-files.js"></script>


        <style>
                h2 {color:rgb(0, 0, 0);}
                table {
                    width:50%;
                }
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }
                th {
                    padding: 15px;
                    text-align: center;
                    background-color:rgb(255, 255, 255);
                    font-size: 18px;
                }
                td {
                    padding: 15px;
                    text-align: left;
                    background-color:rgb(255, 255, 255);
                }
                </style>


    </head>
    <body>
            <% include partials/nav.ejs %>
            <img src="/img/Team20Logo.png">
            <div class="outer home-page">
            <div class="container inner" >
                <div>
                <h2 class="text-left">Account Info</h1>

                <div style="overflow-y:auto; display: inline" >
                    <table>
                            <h3 style="color: black;">    
                                    Login History
                            </h3>
                        <tr>
                            <th> Login_Date <i class="fa fa-unsorted"></i></th>
                        </tr>
                        <tr>
                            <td>  </td>
                        </tr>
                        <tr>
                            <td>  </td>
                        </tr>
                        <tr>
                            <td>  </td>
                        </tr>
                        </table>
                </div>

                <div style="overflow-y:auto; display: inline" >
                    <table>
                            <h3 style="color: black;">    
                                    Messages
                                </h3>
                            <tr>
                        
                                <th> Date <i class="fa fa-unsorted"></i></th>
                                <th> Subject <i class="fa fa-unsorted"></i></th>
                            </tr>
                            <tr>
                                <td>  </td>
                                <td>  </td>
                            </tr>
                            <tr>
                                <td>  </td>
                                <td>  </td>
                            </tr>
                            <tr>
                                    <td>  </td>
                                    <td>  </td>
                            </tr>
                            </table>
                </div>
        </body>
    </html>