<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/event-log.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/upload-files.js"></script>
    </head>

    <body>
            <% include partials/nav.ejs %>
            <img src="/img/Team20Logo.png">
            <div class="outer home-page">
            <div class="container inner" >
                <div>
                <h2 class="text-center">Event Log</h1>

            <div style="overflow-y:auto;">
            <table>
                <tr>
                    <th> Date <i class="fa fa-unsorted"></i></th>
                    <th> Event <i class="fa fa-unsorted"></i></th>
                    <th> Description </th> 
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                </tr>
                </table>

            </div>
        </body>
    </html>