<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/help.css">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/upload-files.js"></script>
    </head>
    
    <body>
            <% include partials/nav.ejs %>
            <img src="/img/Team20Logo.png">
            <div class="outer home-page">
            <div class="container inner" style="color:black" >
                <div>
                <h2 class="text-center" style="font-size: 36px">Help Center</h1>
                <div class="dropdown">
                        <button class="dropbtn">Contact & Visit Us</button>
                        <div class="dropdown-content">
                          <a href="mailto:dharmik.shah@mail.utoronto.ca">Dharmik Shan</a>
                          <a href="mailto:caleb.chen@mail.utoronto.ca">Caleb Chen</a>
                          <a href="mailto:aliza.lau@mail.utoronto.ca">Aliza Lau</a>
                          <a href="mailto:byron.leung@mail.utoronto.ca">Byron Leung</a>
                          <a href="mailto:ralph.maamari@mail.utoronto.ca">Ralph Maamari</a>
                          <a href="https://github.com/CSCC01/Team20/blob/master/Deliverable%201/Official%20Proposal.pdf">Visit Us</a>
                        </div>
                </div>

        </body>
    </html>