<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/logout.js"></script>


    </head>
    <body>
            <% include partials/nav.ejs %>
            <img src="/img/Team20Logo.png">
            <div class="outer home-page">
            <div class="container inner" >
                <div>
                <h2 class="text-center" style="font-size: 60px">Welcome!</h1>
                <h4 class="text-center" style="font-size: 24px; color: rgb(31, 31, 31)">    
                    X-CEL is an app for uploading iCare files and generating reports for the new comers in Scarborough
                </h4>
        </body>
    </html>