<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/login.css">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/login.js"></script>
    </head>

    <body>
        <img src="/img/Team20Logo.png">
        <div class="outer login">
        <div class="container inner" style="background-color: #f1f1f1;" id="loginbox">
            <div>
            <h2 class="text-center">Account Login</h1>

                <form>
                        <div class="form-group">
                          <label for="orgTEQlogin">Organization/TEQ</label>
                          <input type="text" class="form-control" id="orgTEQlogin" placeholder="ID">
                        </div>
						
                        <div class="form-group">
                          <label for="orgTEQPwd">Password</label>
                          <input type="password" class="form-control" id="orgTEQPwd" placeholder="Password">
                        </div>

                        <button type="button" id="login-btn" class="btn btn-success" style="width:100%;">Login</button>

                </form>      

            </div>
        </div>
    </div>
   

    </body>
</html>