<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/upload-files.js"></script>
        <script src="js/logout.js"></script>
    </head>
 

    <body>
        <% include partials/nav-org.ejs %>
        <img src="/img/Team20Logo.png">
        <div class="outer home-page">
        <div class="container inner" style="background-color: #f1f1f1;">
            <div>
            <h2 class="text-center">Upload Files</h1>
            <p class="text-center">
                    Uploading files for generating reports of informations of new comers in Scarborough.<br>
                    Please enter a small description and select the type of template you are uploading.

            </p>
                <form action="upload" method="post" enctype="multipart/form-data" id="my-form">
                        <input name="csv" type="file" id="file-select-btn" class="btn btn-success" style="width:100%;">
                        



                        <div class="form-group">
                            <div class="row">
                            <div class="col-md-6">
                                
                                <label for="description">Description of the files</label>
                                 <P></P>
                                 <input type="text" class="form-control box" id="description" placeholder="Description">
                            

                            </div>
                        
                            <div class="col-md-6 text-center">
                                    <label for="icare-temp">iCARE Template</label>
                                    <P></P>

                                    <select name="template">
                                        <option value="Client Profile" selected="selected">Client Profile</option>
                                        <option value="Needs Assessment&Referrals">Needs Assessment&Referrals</option>
                                        <option value="Community Connections">Community Connections</option>
                                        <option value="Info&Orientation">Info&Orientation</option>
                                        <option value="Employment">Employment</option>
                                        <option value="LT Client Enrollment">LT Client Enrollment</option>
                                        <option value="LT Course Setup">LT Course Setup</option>
                                        <option value="LT Client Exit">LT Client Exit</option>
                                    </select>
                                    
                                    
                            </div>

                            </div>
                        </div>


                        <input type="submit" id="org-upload-btn" class="btn btn-success" style="width:100%;" value="Upload">
                </form>      

            </div>
        </div>
    </div>
   

    </body>
</html>