<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/upload-files.js"></script>

    </head>
    <body>
           
        <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#Account Info">Account Info</a></li>
                <li><a class="active" href="#Upload Files">Upload Files</a></li>
                <li><a href="#Upload History">Upload History</a></li>
                <li><a href="#Help">Help</a></li>
        </ul>
    <body>

    <body>
        <img src="/img/Team20Logo.png">
        <div class="outer uploading-page">
        <div class="container inner" style="background-color: #f1f1f1;">
            <div>
            <h2 class="text-center">Upload Files</h1>
            <p>
                    <h4 class="text-center">Uploading files for generating reports of informations of new comers in Scarborough
            </p>
                <form>
                        <button type="button" id="org-create-btn" class="btn btn-success" style="width:100%;">Select Files</button>
                        <P></P>
                        <div class="form-group">
                          <label for="orgPwd">Description of the files</label>
                          <P></P>
                          <input type="Description" class="box" id="orgPwd" placeholder="Description">
                        </div>


                        <button type="button" id="org-create-btn" class="btn btn-success" style="width:100%;">Upload</button>
                </form>      

            </div>
        </div>
    </div>
   

    </body>
</html>