<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/upload-files.js"></script>
        <script src="js/logout.js"></script>


    </head>
 



    <body>
        <% include partials/nav.ejs %>
        <img src="/img/Team20Logo.png">
        <div class="outer uploading-page">
        <div class="container inner" style="background-color: #f1f1f1;">
            <div>
            <h2 class="text-center">Upload Files</h1>
            <p class="text-center">
                    Uploading files for generating reports of informations of new comers in Scarborough.<br>
                    Please enter a small description and select the type of template you are uploading.

            </p>
                <form>
                        <button type="button" id="org-select-btn" class="btn btn-success" style="width:100%;">Select Files</button>
                        <P></P>

                        <div class="form-group">
                            <div class="row">
                            <div class="col-md-6">
                                
                                <label for="description">Description of the files</label>
                                 <P></P>
                                 <input type="text" class="form-control box" id="description" placeholder="Description">
                            

                            </div>
                        
                            <div class="col-md-6 text-center">
                                    <label for="icare-temp">iCARE Template</label>
                                    <P></P>
                                    <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle dropdown-upload" data-toggle="dropdown">
                                              Select Template  <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                              <li aria-selected="selected"><a href="#">Client Profile</a></li>
                                              <li><a href="#">Needs Assessment&Referrals</a></li>
                                              <li><a href="#">Community Connections</a></li>
                                              <li><a href="#">Info&Orientation</a></li>
                                              <li><a href="#">Employment</a></li>
                                              <li><a href="#">LT Client Enrollment</a></li>
                                              <li><a href="#">LT Course Setup</a></li>
                                              <li><a href="#">LT Client Exit</a></li>

                                            </ul>
                                          </div>
                            </div>

                            </div>
                        </div>


                        <button type="button" id="org-upload-btn" class="btn btn-success" style="width:100%;">Upload</button>
                </form>      

            </div>
        </div>
    </div>
   

    </body>
</html>