<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/nav-org.css">

<div class="icon-bar">
        <a href="/home-org" target="_blank"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="/upload"><i class="fa fa-cloud-upload"></i>Upload Files</a>
        <a href="/login" id="logout-btn"><i class="fa fa-sign-out"></i>Logout</a>
</div>