<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/nav.css">

<div class="icon-bar">
        <a href="/home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="/create"><i class="fa fa-plus-square"></i>Create</a>
        <a href="/generate"><i class="fa fa-cloud-download"></i>Generate Reports</a>
        <a href="/trends"><i class="fa fa-line-chart"></i>Trends</a>
        <a href="/help"><i class="fa fa-info-circle"></i>Help</a>
        <a href="/login" id="logout-btn"><i class="fa fa-sign-out"></i>Logout</a>
</div>