<ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="#Account Info">Account Info</a></li>
        <li><a class="active" href="#Upload Files">Upload Files</a></li>
        <li><a href="#Upload History">Upload History</a></li>
        <li><a href="#Help">Help</a></li>
</ul>